body {background: #333333; font-family: "Trebuchet MS", Trebuchet, Verdana; font-size: 0.8em;}
div#container {margin: auto; background: #FFFFFF; width: 1000px; }
div#content {margin-top: 190px; background: #FFFFFF; width: 980px; border: 0px; }
div#nav {float: left; width: 100px; background: #FFFFFF; border: 0px solid #000000; padding: 0px 0px 0px 0px; margin-top: 10px;}
	div#nav h1 {color: #000000; font-size: 1.3em; margin: 0px;}
	div#nav h2 {color: #000000; font-size: 1.2em; margin: 0px; padding-left: 10px;}
	div#nav ul {padding: 5px 5px 10px 20px; margin: 0px;}
	div#nav li {list-style-type: none; }
	div#nav a, div#nav a:hover, div#nav a:visited {text-decoration: none; color: #0000CC}
	div#nav a:visited {color: #0000CC;}
div#text  { width: 980px; background: #FFFFFF; padding: 10px 10px 0px 10px; margin-bottom: 0px ; }
	div.entry  {border: 1px solid #000000; padding: 10px; margin-bottom: 0px;}
	div.entry h1 {background: #05255F; padding-left: 10px; color: #FFFFFF; font-size: 1.5em; padding-top: 2px; padding-bottom: 2px;}
	div.entry h2 {padding-left: 10px; font-size: 1.3em; color: #FFFFFF;}
	div.entry a , div.entry a:hover {color: #5a0377; text-decoration: underline;}
	div.entry a:visited {color: #9909c8;}

div#header {position: absolute; top: 0px; padding-bottom: 10px;  background: #9999FF; height: 150px; width: 980px; border: 10px solid #FFFFFF; }
span.note {font-size: 0.7em;}


div#header-text {  text-align: center; float: left; width: 590px; }
div#header-text h1 { font-size: 2.4em; padding: 0px; margin: 7px; }
div#header-text h2 { font-size: 1.4em; padding: 0px; margin: 7px; }
div#header-text h3 { font-size: 1.0em; padding: 0px; margin: 7px; }               


div.footnote { background: #FFFFFF; width: 980px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; }


table { border-collapse: collapse; font-size: 1em; width: 100%; }
col#title { width: 30%; }
col#tagline { width: 45%; }
col#genre { width: 10%; }
col#score { width: 8%; }
col#code { width: 7%; }


.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}


.extra {
    background-color: #666;
    text-decoration: none;
    color: #fff !important;
    border-radius: 6px;
    padding: 1px 5px 2px 5px;
}

.extra:hover {
    background-color: #05255f !important;
}

